    {
        "info": {
            "pipeline": "mgrast-prod",
            "name": "#jobname",
            "project": "#project",
            "user": "#user",
            "xref": "#xref",
            "clientgroups":"#clientgroups"
        }, 
        "tasks": [
            {
                "cmd": {
                    "args": "-input=@#inputfile -assembled=#assembled -out_prefix_qc=#jobname.075 -out_prefix_prep=#jobname.100.preprocess -filter_options=#filter_options", 
                    "description": "preprocess_qc",
                    "name": "awe_preprocess_qc.pl"
                }, 
                "dependsOn": [], 
                "inputs": {
                   "#inputfile": {
                        "host": "http://#shockurl",
                        "node": "#shocknode"
                    }
                }, 
                "outputs": {
                    "#jobname.075.consensus.stats": {
                        "host": "http://#shockurl",
                        "node": "-"
                    },
                    "#jobname.075.drisee.info": {
                        "host": "http://#shockurl",
                        "node": "-"
                    },
                    "#jobname.075.drisee.stats": {
                        "host": "http://#shockurl",
                        "node": "-"
                    },
                    "#jobname.075.kmer.15.stats": {
                        "host": "http://#shockurl",
                        "node": "-"
                    },
                    "#jobname.075.kmer.6.stats": {
                        "host": "http://#shockurl",
                        "node": "-"
                    },
                    "#jobname.100.preprocess.passed.fna": {
                        "host": "http://#shockurl",
                        "node": "-"
                    },
                    "#jobname.100.preprocess.removed.fna": {
                        "host": "http://#shockurl",
                        "node": "-"
                    }
                },
                "taskid": "0", 
                "totalwork": 1
            },
            {
                "cmd": {
                    "args": "-input=@#jobname.100.preprocess.passed.fna -out_prefix=#jobname.150.dereplication -mem_size=4G -prefix_length=#prefix_length -dereplicate=#dereplicate", 
                    "description": "dereplication",
                    "name": "awe_dereplicate.pl"
                }, 
                "dependsOn": ["0"], 
                "inputs": {
                   "#jobname.100.preprocess.passed.fna": {
                        "host": "http://#shockurl",
                        "node": "-",
                        "origin": "0"
                    }
                }, 
                "outputs": {
                    "#jobname.150.dereplication.passed.fna": {
                        "host": "http://#shockurl",
                        "node": "-"
                    },
                    "#jobname.150.dereplication.removed.fna": {
                        "host": "http://#shockurl",
                        "node": "-"
                    }
                },
                "taskid": "1", 
                "totalwork": 1
            },
            {
                "cmd": {
                    "args": "-input=@#jobname.150.dereplication.passed.fna -output=#jobname.299.screen.passed.fna -index=#screen_indexes -bowtie=#bowtie",
                    "description": "screen", 
                    "name": "awe_bowtie_screen.pl"
                }, 
                "dependsOn": ["1"], 
                "inputs": {
                   "#jobname.150.dereplication.passed.fna": {
                        "host": "http://#shockurl",
                        "node": "-",
                        "origin": "1"
                    }
                }, 
                "outputs": {
                    "#jobname.299.screen.passed.fna": {
                        "host": "http://#shockurl",
                        "node": "-"
                    }
                },
                "predata": {
                    #predata
                },
                "partinfo": {
                     "input": "#jobname.150.dereplication.passed.fna",
                     "output": "#jobname.299.screen.passed.fna"
                },
                "taskid": "2", 
                "totalwork": 1,
                "maxworksize": 500
            },
            {
                "cmd": {
                    "args": "-input=@#jobname.299.screen.passed.fna -out_prefix=#jobname.350.genecalling.coding -fgs_type=#fgs_type",
                    "description": "genecalling", 
                    "name": "awe_genecalling.pl"
                }, 
                "dependsOn": ["2"], 
                "inputs": {
                   "#jobname.299.screen.passed.fna": {
                        "host": "http://#shockurl",
                        "node": "-",
                        "origin": "2"
                    }
                }, 
                "outputs": {
                    "#jobname.350.genecalling.coding.faa": {
                        "host": "http://#shockurl",
                        "node": "-"
                    },
                    "#jobname.350.genecalling.coding.fna": {
                        "host": "http://#shockurl",
                        "node": "-"
                    }
                },
                "partinfo": {
                     "input": "#jobname.299.screen.passed.fna",
                     "output": "#jobname.350.genecalling.coding.faa"
                },
                "taskid": "3", 
                "totalwork": 1,
                "maxworksize": 500
            },
            {   
                "cmd": {
                    "args": "-input=@#jobname.350.genecalling.coding.faa --output=#jobname.550.cluster.aa90.faa -aa -pid=#aa_pid",
                    "description": "cluster_aa90",
                    "name": "awe_cluster_parallel.pl"
                },
                "dependsOn": ["3"],
                "inputs": {
                    "#jobname.350.genecalling.coding.faa": {
                        "host": "http://#shockurl",
                        "node": "-",
                        "origin": "3"
                    }
                },
                "outputs": {
                    "#jobname.550.cluster.aa90.faa": {
                        "host": "http://#shockurl",
                        "node": "-"
                    },
                    "#jobname.550.cluster.aa90.mapping": {
                        "host": "http://#shockurl",
                        "node": "-"
                    }
                },
                "partinfo": {
                     "input": "#jobname.350.genecalling.coding.faa",
                     "output": "#jobname.550.cluster.aa90.faa"
                },
                "taskid": "4",
                "totalwork": 1,
                "maxworksize": 2000
            },
            {
                "cmd": {
                    "name": "awe_blat.py",
                    "args": "--input=@#jobname.550.cluster.aa90.faa --output=#jobname.650.superblat.sims", 
                    "description": "aa sims"
                }, 
                "dependsOn": ["4"],  
                "inputs": {
                    "#jobname.550.cluster.aa90.faa": {
                        "host": "http://#shockurl",
                        "origin": "4",
                        "node": "-"
                    }
                }, 
                "outputs": {
                    "#jobname.650.superblat.sims": {
                        "host": "http://#shockurl",
                        "node": "-"
                    }
                },
                "predata": {
                    "md5nr.1":{
                        "url":"#md5nr1_download_url"
                    },
                    "md5nr.2":{
                        "url":"#md5nr2_download_url"
                    }
                },
                "partinfo": {
                     "input": "#jobname.550.cluster.aa90.faa",
                     "output": "#jobname.650.superblat.sims"
                },
                "taskid": "5",
                "maxworksize": 50
            },
            {
                "cmd": {
                    "name": "awe_rna_search.pl",
                    "args": "-input=@#jobname.100.preprocess.passed.fna -output=#jobname.425.search.rna.fna -rna_nr=md5rna.clust",
                    "description": "rna detection"
                }, 
                "dependsOn": ["0"],  
                "inputs": {
                   "#jobname.100.preprocess.passed.fna": {
                        "host": "http://#shockurl",
                        "node": "-",
                        "origin": "0"
                    }
                },
                "predata": {
                    "md5rna.clust":{
                        "url":"#md5rna_clust_download_url"
                    }
                },
                "outputs": {
                    "#jobname.425.search.rna.fna": {
                        "host": "http://#shockurl",
                        "node": "-"
                    }
                },
                "taskid": "6",
                "totalwork": 1
            },          
            {
                "cmd": {
                    "name": "awe_cluster_parallel.pl",
                    "args": "-input=@#jobname.425.search.rna.fna --output=#jobname.440.cluster.rna97.fna -rna -pid=#rna_pid", 
                    "description": "rna clustering"
                }, 
                "dependsOn": ["6"],
                "inputs": {
                    "#jobname.425.search.rna.fna": {
                        "host": "http://#shockurl",
                        "origin": "6",
                        "node": "-"
                    }
                }, 
                "outputs": {
                    "#jobname.440.cluster.rna97.fna": {
                        "host": "http://#shockurl",
                        "node": "-"
                    },
                    "#jobname.440.cluster.rna97.mapping": {
                        "host": "http://#shockurl",
                        "node": "-"
                    }
                },
                "partinfo": {
                     "input": "#jobname.425.search.rna.fna",
                     "output": "#jobname.440.cluster.rna97.fna"
                },
                "taskid": "7",
                "totalwork": 1,
                "maxworksize": 2000
            },
            {
                "cmd": {
                    "name": "awe_rna_blat.sh",
                    "args": "-i @#jobname.440.cluster.rna97.fna -o #jobname.450.rna.sims",
                    "description": "rna sims"
                }, 
                "dependsOn": ["7"],  
                "inputs": {
                    "#jobname.440.cluster.rna97.fna": {
                        "host": "http://#shockurl",
                        "origin": "7",
                        "node": "-"
                    }
                }, 
                "outputs": {
                    "#jobname.450.rna.sims": {
                        "host": "http://#shockurl",
                        "node": "-"
                    }
                },
                "predata": {
                    "md5rna":{
                        "url":"#md5rna_download_url"
                    }
                },
                "partinfo": {
                     "input": "#jobname.440.cluster.rna97.fna",
                     "output": "#jobname.450.rna.sims"
                },
                "taskid": "8",
                "maxworksize": 50
            },
            {
                "cmd": {
                    "name": "awe_annotate.pl",
                    "args": "-raw=@#inputfile -job=#jobname -aa_sims=@#jobname.650.superblat.sims -rna_sims=@#jobname.450.rna.sims -clust_aa=@#jobname.550.cluster.aa90.mapping -map_rna=@#jobname.440.cluster.rna97.mapping -out_prefix=#jobname.700.annotation -nr_ver=#ach_annotation_ver -mem_host=#mem_host -assembled=#assembled", 
                    "description": "annotation"
                }, 
                "dependsOn": ["4", "5", "7", "8"],  
                "inputs": {
                    "#inputfile": {
                        "host": "http://#shockurl",
                        "node": "#shocknode"
                    },
                    "#jobname.550.cluster.aa90.mapping": {
                        "host": "http://#shockurl",
                        "origin": "4",
                        "node": "-"
                    },
                    "#jobname.650.superblat.sims": {
                        "host": "http://#shockurl",
                        "origin": "5",
                        "node": "-"
                    },
                    "#jobname.440.cluster.rna97.mapping": {
                        "host": "http://#shockurl",
                        "origin": "7",
                        "node": "-"
                    },
                    "#jobname.450.rna.sims": {
                        "host": "http://#shockurl",
                        "origin": "8",
                        "node": "-"
                    }
                }, 
                "outputs": {
                    "#jobname.700.annotation.function.summary": {
                        "host": "http://#shockurl",
                        "node": "-"
                    },
                    "#jobname.700.annotation.md5.summary": {
                        "host": "http://#shockurl",
                        "node": "-"
                    },
                    "#jobname.700.annotation.organism.summary": {
                        "host": "http://#shockurl",
                        "node": "-"
                    },
                    "#jobname.700.annotation.lca.summary": {
                        "host": "http://#shockurl",
                        "node": "-"
                    },
                    "#jobname.700.annotation.ontology.summary": {
                        "host": "http://#shockurl",
                        "node": "-"
                    },
                    "#jobname.700.annotation.sims.stats": {
                        "host": "http://#shockurl",
                        "node": "-"
                    },
                    "#jobname.700.annotation.sims.filter.seq": {
                        "host": "http://#shockurl",
                        "node": "-"
                    },
                    "#jobname.700.annotation.source.stats": {
                        "host": "http://#shockurl",
                        "node": "-"
                    },
                    "#jobname.700.annotation.coverage.summary": {
                        "host": "http://#shockurl",
                        "node": "-",
			"optional": true
                    }
                },
                "taskid": "9",
                "totalwork": 1
            }
        ]
    }
